html * {
  font-family: "Hiragino Sans", Meiryo, sans-serif; 
  font-weight: 500;
  font-style: normal;
  color: #000000;
}
p {
  font-size: 16px;
  line-height: 2.0em;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}